body {
  font-family: system-ui, sans-serif;
  background: #f4f4f4;
  color: #222;
  margin: 0;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

header h1 {
  font-size: 1.2rem;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #555;
  font-size: 0.9rem;
}

.video-container {
  max-width: 520px; /* más estrecho */
  margin: 0 auto;
  background: #fff;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.video-container h2 {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

.video-container p {
  font-size: 0.95rem;
  color: #555;
}

video {
  width: 100%;
  border-radius: 6px;
  margin: 1rem 0;
  max-height: 140px; /* antes 200px */
  object-fit: cover;
}


.autor {
  font-size: 0.85rem;
  color: #888;
  margin-top: 0.5rem;
}


.video-wrapper {
  position: relative;
  margin-top: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #222; /* fondo oscuro */
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
  color: #fff; /* texto blanco */
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls button:hover svg {
  stroke: #fff;
}


.controls svg {
  width: 20px;
  height: 20px;
  stroke: #fff;
  transition: stroke 0.2s ease;
}

.controls input[type="range"] {
  flex-grow: 1;
  accent-color: #222;
  height: 4px;
  cursor: pointer;
}

#currentTime,
#duration {
  font-size: 0.75rem;
  color: #eee;
  min-width: 38px;
  text-align: center;
}


.video-wrapper:fullscreen {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-wrapper video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.video-wrapper .controls {
  position: absolute;
  bottom: 20px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.video-wrapper.hide-controls .controls {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.video-wrapper:fullscreen .controls svg {
  stroke: #fff;
}

.video-wrapper:fullscreen #currentTime,
.video-wrapper:fullscreen #duration {
  color: #fff;
}
